@import "../mixins";
@import "../variables";

.brandBlock {
  @include display-flex();
  @include justify-content-center();
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.loginLogo {
  width: 260px;
  max-width: 100%;
  cursor: pointer;
}
